# GrowatMonitor.timer
[Unit]
Description=Run the GrowattMonitor on a timer

[Timer]
OnCalendar=*-*-* 08..20:*:00
Unit=GrowattMonitor.service
Persistent=True

[Install]
WantedBy=basic.target
