# StopGrowattMonitor.timer
[Unit]
Description=Stops the GrowattMonitor at 21:00 everyday

[Timer]
OnCalendar=*-*-* 21:00:00
Unit=StopGrowattMonitor.service

[Install]
WantedBy=basic.target

