# StopGrowattMonitor.service
[Unit]
Desctiption=Close down the GrowattMonitor service
Conflicts=GrowattMonitor.service

[Service]
Type=oneshot
ExecStart=/bin/echo "Closing down the GrowattMonitor.service"
